auto-install-peers=false
strict-peer-dependencies=false
ignore-scripts=false
run-scripts=true
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=@whiskeysockets/baileys
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=unrs-resolver
